/* reset css */

* {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* setup */

html, body {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

/* navigation */

main {
  pointer-events: none;
  
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

a {
  background-color: transparent;
  color: inherit;
  pointer-events: auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: transform 1s ease, letter-spacing 0.3s ease, font-style 0.3s ease;
  z-index: 10;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  filter: blur(30px);
  z-index: -10; 
  border-radius: 50%;
  box-shadow: 0 0 0 30px white;
}

a:hover {
  text-decoration: underline;
}

/* canvas */

.canvas-container {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background: none;
}
