@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

:root {
  --toggle-text-color: #161616;
  --toggle-bg-color: #ddd;
  --toggle-border-color: black;
  --transition-duration: 0.4s;
}

::selection {
  background-color: none; /* your custom highlight color */
  color: rgb(255, 180, 18); /* text color during selection */
}

.dark-mode {
  --toggle-text-color: #ddd;
  --toggle-bg-color: #161616;
  --transition-duration: 0.4s;
}

.light-mode {
  --toggle-text-color: #161616;
  --toggle-text-color: #ddd;
  --transition-duration: 0.4s;
}

html,
body {
  background-color: var(--toggle-bg-color);
  color: var(--toggle-text-color);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body, a, p, div {
  /* font-family: sans-serif; */
  font-size: .9rem;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Inter", serif;
  font-family: sans-serif;
  font-family: "Arimo", serif;
  height: auto;
  min-height: 100vh;
  cursor: crosshair;
  transition: background-color var(--transition-duration),
    color var(--transition-duration) ease-in-out;
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

.header {
  height: 50px;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  z-index: 99;
}

.header-link {
  text-decoration: none;
  font-size: 0.9rem;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.4s ease-in-out;
  color: var(--text-color);
}

.linkedin {
  backface-visibility: hidden;
  will-change: transform;
  z-index: 99;
  position: fixed;
  bottom: 40vh;
  left: 20px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  writing-mode: sideways-lr;
  
  -webkit-font-smoothing: antialiased;
}

.linkedin div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0;
  padding: 0;
}

.indent {
  padding-bottom: 40px;
}

.indent-card {
  padding-left: 80px;
}

.tumblr {
  backface-visibility: hidden;
  will-change: transform;
  z-index: 99;
  position: fixed;
  bottom: 5px;
  left: 15%;
  width: auto;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-color);
  transform: scale(-1, -1);
  transform: rotate(180deg) translateZ(0);
  -webkit-font-smoothing: antialiased;
 
}

.dark-mode-toggle,
.layout-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0 5px;
}

.dark-mode-toggle img:hover,
.layout-toggle img:hover,
.header-link:hover,
main a:hover {
  filter: invert(60%);
  z-index: 99;
}

.dark-mode-toggle img,
.layout-toggle img {
  transition: filter 0.4s ease-in-out;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  transition: opacity 0.5s ease-in-out;
}
/* Main Links  */
main a {
  color: var(--text-color);
  pointer-events: auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: transform 1s ease, letter-spacing 0.3s ease, font-style 0.3s ease;
  z-index: 99;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

/* Canvas */
.canvas-container {
  position: fixed; /* or absolute, but typically fixed for a background */
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

canvas {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background: none;
  /* z-index: 1; */
}

/* Straight Layout */
.straight-layout-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  /* width: auto;
  height: auto; */
  gap: 10px;
  /* position: relative; */
  background: none;
  pointer-events: none;
   /* transition: opacity 0.8s ease-in-out, visibility 0.4s ease-in-out;
  opacity: 1; */
  /* z-index: 2; */
  /* border: 1px solid blue; */
}


.projects {
  pointer-events: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 550px;
  overflow: auto;
  z-index: 999;
  opacity: 0;          /* start hidden */
  transition: opacity 0.5s ease-in-out; /* fade duration */
  /* border: 1px solid red; */
}

.projects.fade-in, .info.fade-in {
  opacity: 1; /* they fade from 0 to 1 */
}

.projects a {
  text-decoration: none;
  color: var(--toggle-text-color);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 20px;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  height: auto;
  width: 360px;
  /* border: 1px solid limegreen; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

.card-content {
  padding-left: 10px;
}

h3 {
  font-family: sans-serif;
  font-weight: 400;
  padding-left: 20px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}


.hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
