/* reset css */

* {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* setup */

body {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* navigation */

.wrapper {
  pointer-events: none;
  background-color: transparent;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: auto;
  padding: 10rem;
}

header {
  height: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

a {
  pointer-events: auto;
  display: inline;
  margin-bottom: 1rem;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* canvas */

.canvas-container {
  width: 100vw;
  height: 100vh;

  cursor: crosshair;
}

/* canvas {
  width: 100%;
  height: 100%;
} */
